<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <main class="buy-page">
        <div class="buy-container">
      
        <h1 class="buy-cta">Buy Now</h1>
        <div class="buy-game">
          <img src="./assets/4.jpeg" alt="">
          <img src="./assets/4.jpeg" alt="">
          <img src="./assets/4.jpeg" alt="">
          <img src="./assets/4.jpeg" alt="">
        </div>
      
        <div class="buy-platform">
          <h1 class="buy-title">Select Platform</h1>
          <div class="sponsors">
            <img src="./assets/1.jpeg" alt="" class="sponsor">
            <img src="./assets/1.jpeg" alt="" class="sponsor">
            <img src="./assets/1.jpeg" alt="" class="sponsor">
            <img src="./assets/1.jpeg" alt="" class="sponsor">
            <img src="./assets/1.jpeg" alt="" class="sponsor">
            <img src="./assets/1.jpeg" alt="" class="sponsor">
          </div>
        </div>
        </div>
      </main>
    
    <%- include("./partials/footer.ejs") %>
    
</body>
</html>

