<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <main class="events-page">
        <h1>Upcoming Game Events</h1>
        
        <div class="event-cards">
          <div class="event-card">
            <img src="./assets/_cfc1cf79-f7f6-4bb4-a69a-d0cb3e097b11.jpeg" alt="Pokemon Tournament">
            <h2>Pokemon</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, ipsum.</p>
            <button>Join</button>
          </div>
      
          <div class="event-card">
            <img src="./assets/_c5c087bc-67a6-45ac-a171-1af9493bc999.jpeg" alt="New Game Launch Party">
            <h2>Lorem ipsum dolor sit amet.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, ratione?</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <button>join</button>
          </div>
      
          <div class="event-card">
            <img src="./assets/_c4b9f5e0-553a-4b43-8887-de6b7e3fd0b4.jpeg" alt="Gaming Cosplay Contest">
            <h2>Lorem ipsum dolor sit amet.</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, odit?</p>
            <button>join</button>
          </div>
        </div>
      </main>
    <%- include("./partials/footer.ejs") %>
    
</body>
</html>
