<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <main>
        <h1 class="main-title">no man's sky</h1>
        <div>
            <h3 class="main-title-2">buy now</h3>
            <p class="main-paragraph">Steam, PlayStation, Xbox,</p>
            <p class="main-paragraph">Switch & Mac on sale</p>
            <p class="main-paragraph">now</p>
            <div class="sponsors">
                <img src="./assets/2.jpeg" alt="">
                <img src="./assets/2.jpeg" alt="">
                <img src="./assets/2.jpeg" alt="">
                <img src="./assets/2.jpeg" alt="">
            </div>
            <a href="/" class="cta-information">more purchase options >></a>
        </div>
    </main>
    
    <div class="game-container">
      <div class="game-grid">
        <div class="game-card">
          <h2 class="game-title">Infinite</h2>
          <p class="game-text">Entire galaxies lie waiting to be discovered. </p>
        </div>
        <div class="game-card">
          <h2 class="game-title">Story</h2>
          <p class="game-text">Experience infinite freedom, or uncover the secrets of the universe with more than 30 hours of story.</p>
        </div>
        <div class="game-card">
          <h2 class="game-title">Multiplayer</h2>
          <p class="game-text">Dogfight, race exocraft, build colonies, explore, trade, fight and survive together.</p>
        </div>
        <div class="game-card">
          <h2 class="game-title">VR</h2>
          <p class="game-text">The entire game playable in virtual reality for a more immersive experience.</p>
        </div>
        <div class="game-card">
          <h2 class="game-title">Beyond</h2>
          <p class="game-text">Our 2.0 update adds even more depth and features and brings all the strands of No Man's Sky into a cohesive whole.</p>
        </div>
      </div>
    </div>
    
    <div class="hero-1">
      <div class="hero-1-content">
        <h2 class="hero-1-title">Explore</h2>
        <h3 class="hero-1-subtitle">In an infinite universe</h3>
        <p class="hero-1-text">Be the first to land on beautiful, unknown planets teeming with life. Survive hazardous environments, where alien civilizations seek their fortune and outlaws take it by force.</p>
      </div>
      <img class="hero-1-background" src="./assets/7.jpeg" alt="">
    </div>
    <div class="hero-2">
      <div class="hero-2-content">
        <h2 class="hero-2-title">Build</h2>
        <h3 class="hero-2-subtitle">In an infinite universe</h3>
        <p class="hero-2-text">Be the first to land on beautiful, unknown planets teeming with life. Survive hazardous environments, where alien civilizations seek their fortune and outlaws take it by force.</p>
      </div>
      <img class="hero-2-background" src="./assets/3.jpeg" alt="">
    </div>
    <div class="hero-1">
      <div class="hero-1-content">
        <h2 class="hero-1-title">Multiplayer</h2>
        <h3 class="hero-1-subtitle">In an infinite universe</h3>
        <p class="hero-1-text">Be the first to land on beautiful, unknown planets teeming with life. Survive hazardous environments, where alien civilizations seek their fortune and outlaws take it by force.</p>
      </div>
      <img class="hero-1-background" src="./assets/4.jpeg" alt="">
    </div>
    <div class="hero-2">
      <div class="hero-2-content">
        <h2 class="hero-2-title">community</h2>
        <h3 class="hero-2-subtitle">In an infinite universe</h3>
        <p class="hero-2-text">Be the first to land on beautiful, unknown planets teeming with life. Survive hazardous environments, where alien civilizations seek their fortune and outlaws take it by force.</p>
      </div>
      <img class="hero-2-background" src="./assets/6.jpeg" alt="">
    </div>
    
     <div class="hero-3">
            <h1 class="hero-3-title">EVOLVING</h1>
            <h2 class="hero-3-subtitle">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, aliquam?</h2>
            <p class="hero-3-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis explicabo nam error dicta qui adipisci consequuntur! Mollitia fuga necessitatibus quibusdam nemo magni esse assumenda dolore? Veritatis corrupti et temporibus?</p>
            <div class="update-boxes">
                <div class="update-box">
                    <h3>ECHOES UPDATE</h3>
                    <p>Update 4.4 arrives!</p>
                </div>
                <div class="update-box">
                    <h3>OMEGA UPDATE</h3>
                    <p>Update 4.5 arrives!</p>
                </div>
                <div class="update-box">
                    <h3>ORBITAL UPDATE</h3>
                    <p>Update 4.6 arrives!</p>
                </div>
                <div class="update-box">
                    <h3>WORLDS PART 1 UPDATE</h3>
                    <p>Update 5.0 arrives!</p>
                </div>
            </div>
    </div>
    
    
    <%- include("./partials/footer.ejs") %>
    
</body>
</html>
