<div class="footer">
       <div class="footer-links">
           <a href="#">CONTACT</a>
           <a href="#">ABOUT</a>
           <a href="#">NEWS</a>
           <a href="#">TWITCH DROPS</a>
           <a href="#">HELP CENTRE</a>
           <a href="#">PRIVACY POLICY</a>
           <a href="#">END USER LICENCE AGREEMENT</a>
       </div>
</div>