<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://nomanssky.azureedge.net/app/themes/nomanssky/dist/images/icons/favicon/favicon-16x16.png">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    
    {{#if title}}
    <title>No Man's Sky</title>
    {{else}}
    <title>No Man's Sky</title>
    {{/if}}

    <link rel="stylesheet" href="/partials_style.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/buy-menu.css">
    <link rel="stylesheet" href="/news-menu.css">
    <link rel="stylesheet" href="/form.css">
</head>