<nav class="navbar">
  <div class="navbar-logo">
    <a href="/">
    <img src="https://nomanssky.azureedge.net/app/themes/nomanssky/dist/images/logo-nms.png" alt="Logo Game" class="logo-image">
    </a>
    <a href="/"><box-icon name='joystick-button' color="grey" class="logo-icon" ></box-icon></a>
  </div>

  <div class="nav-links">
    <div><a href="/" class="nav-link nav-link-bold">latest patch notes</a></div>
    <a href="/buy-now" class="nav-link">buy</a>
    <a href="/news" class="nav-link">release log</a>
    <a href="/news" class="nav-link">news</a>
    <a href="/blogs/create" class="nav-link">create</a>
  </div>
</nav>